:root{
    /* Sizes */
    --container-max-w:1152px;
    --global-font-size:16px;
    --spacing:0.25rem;
    /* Colors */
    --primary-color:#2274EA;
    --secondary-color:#101D2C;
    --tertiary-color:#F1F5F9;
    --text-color:#899AB1;
    --text-light-color:oklch(0.869 0.022 252.894);
    /* Fonts */
    --text-font-family:"Inter", sans-serif;
    --title-font-family:"Playfair Display", serif;

}