@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--text-font-family);
    color:var(--text-color) ;
    text-decoration: none;
    font-style: normal;
}

p, h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing:antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font-family);
    color: var(--secondary-color);
   
}

h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
    font-family: var(--title-font-family);
    color:var(--tertiary-color);
   
}


a {
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}

a:hover {
    color: var(--primary-color);
}


.flex {
    display:flex;
}

.wrapper {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.wrapper .container {
    width: 100%;
    max-width:var(--container-max-w);

}

/*-------------- DROPDOWN MENU ----------------- */
.dropdown {
    position: relative;
   
}

.dropdown a:hover {
    color: var(--text-color);
}

.dropdown a svg {
    height: 12px;
    width: 12px;
    fill: var(--text-color);
    
}

.dropdown .dropdown__body {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    top: calc(75% + 0.5rem);
    right: 0;
    width: calc(var(--spacing) * 40);
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.25s;
    z-index: 1;
}

.dropdown:hover .dropdown__body {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    z-index: 1;
}

.dropdown .dropdown__body .dropdown__body-item a {
    display: block;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
}

a.dark {
    color: var(--secondary-color);
}

a.dark:hover {
    color: var(--primary-color);
}


/*-------------- END DROPDOWN MENU ----------------- */

/*------------------- NAVBAR -----------------*/

nav {
    background-color: var(--secondary-color);
    height: calc(var(--spacing) * 20);
    justify-content: center;
}

nav .nav__container {
    
    padding:0 24px;
}

nav .nav__logo {
    display:flex ;
    align-items: center;
    padding-right:calc(var(--spacing) *4);
    padding-top: var(--spacing);
}

nav .nav__logo img {
    width: 32px;
    height: 32px;
}

nav .nav__menu {
    display: flex;
    justify-content: flex-start;
    flex-grow:1;  
    flex-wrap: wrap;
    align-items: center;
}

nav .nav__menu-item {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
}

nav .nav__menu-item a {
    padding: calc(var(--spacing) *5);
}


nav .nav__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;

}

nav .nav__actions-item {
    display: flex;
    list-style: none;
}

nav .nav__actions-item a {
    padding: calc(var(--spacing) *5);
}

a.light {
    color: var(--text-light-color);
}

a.light:hover {
    color: white;
}

a.a-arrow .arrow-r {
    color: var(--primary-color);
    transition: all ease-in-out 0.25s;
    position: relative;
    
}

a.a-arrow:hover .arrow-r{
    left: 3px;
}
/*-------------------END NAVBAR -----------------*/


/*------------------ HEADER ------------------*/

header {
    background-color: var(--secondary-color);
    padding-top: 80px;
    padding-bottom: 175px;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
    z-index: -1;
}

header .header__container {
    width: 100%;
    max-width: var(--global-max-w);
    padding: 0px 24px;
    align-items: center;
    
}
/*---------------- HEADER LEFT ----------------*/
header .header__left_top {
    display: flex;
    flex-direction: column;
    margin-right:calc(var(--spacing) * 15);
    text-align: left;    
}

header .header__left_top h1 {
    font-size: 64px;
    line-height: 74px;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: -1px;
}
    

header .header__left_top p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 2rem;
}
   
header .header__left_bottom {
    display: flex;
    gap:calc(var(--spacing) * 4);
    text-align: left;
    align-items: center;
    
}
/*---------------- BUTTON ----------------*/

header .arrow__button{
    position: relative;
    padding-inline-start:calc(var(--spacing) * 6) ;
    padding-inline-end:calc(var(--spacing) * 11)  ;
    padding-block: calc(var(--spacing) * 3.5);
    background-color: var(--primary-color);
    border-radius: 2px;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}

header .arrow__button:hover {
    background-color: var(--arrow-button-hc);
}

header  .arrow__button::before {
    position: absolute;
    content: '->';
    color: var(--arrow-r-btn-color);
    inset-block-start: 50%;
    inset-inline-start: 77%;
    transform: translateY(-50%);
    transition: all ease-in-out 0.10s;
}

.arrow__button:hover::before {
    inset-inline-start: calc(81% - 0.25rem);
}

header .dark__button {
    background-color: var(--dark-button-color);
    position: relative;
    padding-inline: calc(var(--spacing) * 6.5);
    padding-block: calc(var(--spacing) * 3.5);
    border-radius: 2px;
    cursor: pointer;
    transition: all ease-in-out 0.10s;
}

header .dark__button:hover {
    background-color: var(--dark-button-hc);
}

a.a-button{
    color: white;   
}

/*---------------- HEADER RIGHT ----------------*/
header .header__right {
    position: relative;
    z-index: 2;
}

header .header__right-item{
    width: 540px;
    height: 405px;
   
}

header .header__right-item img{
    width: 100%;
    height: 100%;
}

header .underline_box{
    position: absolute;
    width: 528px;
    height: 405px;
    border: 2px solid;
    border-color: var(--dark-button-color);
    top: 16px;
    left: 28px;
    z-index: -2; 
}
/*------------------ END HEADER ------------------*/



