@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--text-font-family);
    color:var(--text-color) ;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font-family);
    color: var(--secondary-color);
}

h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
    font-family: var(--title-font-family);
    color:var(--tertiary-color);
}


a {
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}

a:hover {
    color: var(--primary-color);
}

a.dark {
    color: var(--secondary-color);
}

a.light {
    color: var(--text-light-color);
}

a.light:hover {
    color: white;
}

a.a-arrow {
    position: relative;
}

a.a-arrow .arrow-r {
    color: var(--primary-color); /* --primary-color: #2174ea; */
    position: absolute;
    transition: all ease-in-out 0.15s;
    left: calc(100% + 3px);
}

a.a-arrow:hover .arrow-r {
    margin-left: 2px;
}



.flex {
    display:flex;
}

.wrapper {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .container {
    width: 100%;
    max-width:var(--container-max-w);
    padding: 1.5rem;
}

/*-------------- DROPDOWN MENU ----------------- */
.dropdown {
    position: relative;
}

.dropdown a:hover {
    color: var(--text-color);
}

.dropdown a svg {
    height: 12px;
    width: 12px;
    fill: var(--text-color);
}

.dropdown .dropdown__body {
    visibility: hidden;
    opacity: 0;
    margin-top: -5px;
    position: absolute;
    background-color: white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    top: calc(100% + 0.5rem);
    right: 0;
    width: 150px;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.25s;
}

.dropdown:hover .dropdown__body {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

.dropdown .dropdown__body .dropdown__body-item a {
    display: block;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
}


/*----------- NAVBAR ------------*/

nav {
    background-color: var(--secondary-color);
    height: 80px;
    justify-content: center;
}

nav .nav__container {
    gap:40px;
}

nav .nav__logo img {
    width: 32px;
    height: 32px;
}

nav .nav__menu{
    display: flex;
    flex-grow:1;  
    align-items: center;
    gap: 40px;
  
}

nav .nav__menu-item a {
    padding: 0.5rem 0;
}


nav .nav__actions {
    display: flex;
    align-items: center;
    gap: 40px;
}





